:root {
  font-family: 'Dosis', sans-serif;
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  font-family: 'Dosis', sans-serif;
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
}
